.home-options {
  transition: all 200ms ease;
}
.home-options:hover {
  transform: scale(1.1);
}
.wrapperClassName{
  height: 50vh;
}
.tool-class{
  border: 2px solid grey;
}
.input-box{
  /* width: 30vw; */
  width: 35vw;
  height: 35vh;
  border: 2px solid black;
}
.lib-section{
  width: 49%;
  display: inline-block;
}
#languages{
  outline: none;
}
@media screen and (max-width:768px) {
  .input-box{
    margin-top: 30px;
    width: 50vw;
  }
}